@charset "UTF-8";

#abc {
	font-size: 20px;
	font-weight: bold;
}

#headers {
	text-align: center;
}

h1 {
	text-align: center;
}

#alerts {
	text-align: center;
	font-size: 18px;
	margin: 5px 5px;
}

#createButton {
	font-size: 20px;
	font-weight: bold;
}